@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.sidebar{
    background-color: rgb(182, 178, 178);
    width: 100vw;
    height: 10vh;
    font-family: 'Merriweather', serif;
    position: fixed;
    background-color: rgb(0, 0, 0,0.7);
    
}
.sidebar nav{
    padding: 0px;
    margin-left: 56vw;
}
.sidebar nav ul{
    display: flex;
}
.sidebar nav li{
    list-style: none;
    font-size: 25px;
    margin-right: 78px; 
    padding: 33px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: aliceblue;
}
.main{
    /* background-color: yellow; */
    width: 90vw;
    height: 100vh;
    font-family: 'Merriweather', serif;
}
.container{
    display: flex;
}
.infoContainer{
    /* background-color: rgb(251, 0, 255); */
    height: 70vh;
    width: 80vw;
    margin: 145px auto;
    display: flex;
    justify-content: space-around;
}
.devInfo{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.devPic img{   
    height: 70vh;
}
.hello{
    font-size: 50px;
    font-family: 'Source Code Pro', monospace;
    
}
.name{
    font-size: 75px;
    font-family: 'Merriweather', serif;
}
.about{
    margin-top: 10px;
    font-size: 35px;
    font-family: 'Source Code Pro', monospace;
}
.buttons{
    margin-top: 40px;
    margin-left: 50px;
}
.buttons button{
    padding: 13px;
    border-radius: 40px;
    color:white;
    background-color:dodgerblue;
    /* font-weight: bold; */
    font-size:16px;
    margin-inline: inherit;
    cursor: pointer;
}
.buttons button:hover{
    background-color:white;
    color:dodgerblue;
}


.contactlinks{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 170px;
}
.contactlinks a button{
    width: 507px;
    padding: 13px;
    border-radius: 40px;
    color:white;
    background-color:dodgerblue;
    /* font-weight: bold; */
    font-size:16px;
    margin-bottom: 34px;
    cursor: pointer;

}
.contactlinks a button:hover{
    background-color:white;
    color:dodgerblue;
}

body {
    background-image: url('background.png');
    
    color: aliceblue;
}

